
# Desc: Player sample configuration file for controlling Stage devices
# Author:  Richard Vaughan
# Date: 1 December 2004



# load the Stage plugin simulation driver
driver
(		
  name "stage"
  provides [ "simulation:0" ]
  plugin "stageplugin"

  # load the named file into the simulator
  worldfile "mapa1.world"	
)

# Create a Stage driver and attach position2d and laser interfaces 
# to the model "r0"
driver
( 
  name "stage"
  provides [ "position2d:0" "laser:0" "sonar:0" "gripper:0" "blobfinder:0" "speech:0" "graphics2d:0" "graphics3d:0" ]
  model "r0" 
)

# Create a Stage driver and attach position2d and laser interfaces 
# to the model "r1"
driver
( 
  name "stage"
  provides [ "6666:position2d:0" "6666:laser:0" "6666:sonar:0" "6666:gripper:0" "6666:blobfinder:0" "6666:speech:0" "6666:graphics2d:0" "6666:graphics3d:0" ]
  model "r1" 
)

# Create a Stage driver and attach position2d and laser interfaces 
# to the model "r2"
driver
( 
  name "stage"
  provides [ "6667:position2d:0" "6667:laser:0" "6667:sonar:0" "6667:gripper:0" "6667:blobfinder:0" "6667:speech:0" "6667:graphics2d:0" "6667:graphics3d:0" ]
  model "r2" 
)

# Create a Stage driver and attach position2d and laser interfaces 
# to the model "r3"
driver
( 
  name "stage"
  provides [ "6668:position2d:0" "6668:laser:0" "6668:sonar:0" "6668:gripper:0" "6668:blobfinder:0" "6668:speech:0" "6668:graphics2d:0" "6668:graphics3d:0" ]
  model "r3" 
)

