
# Desc: Player sample configuration file for controlling Stage devices
# Author:  Richard Vaughan
# Date: 1 December 2004

# CVS: $Id: simple.cfg,v 1.35 2008-01-15 01:25:42 rtv Exp $


# load the Stage plugin simulation driver
driver
(		
  name "stage"
  provides [ "simulation:0" ]
  plugin "stageplugin"

  # load the named file into the simulator
  worldfile "proj1-map.world"	
)

# Create a Stage driver and attach position2d and laser interfaces 
# to the model "r0"
driver
( 
  name "stage"
  provides [ "position2d:0" "laser:0" "speech:0" "graphics2d:0" "graphics3d:0" "gripper:0" "blobfinder:0" ]
  model "r0" 
)

driver
( 
  name "stage"
  provides [ "6666:position2d:0" "6666:laser:0" "6666:speech:0" "6666:graphics2d:0" "6666:graphics3d:0" "6666:gripper:0" "6666:blobfinder:0" ]
  model "r1" 
)

driver
( 
  name "stage"
  provides [ "6667:position2d:0" "6667:laser:0" "6667:speech:0" "6667:graphics2d:0" "6667:graphics3d:0" "6667:gripper:0" "6667:blobfinder:0" ]
  model "r2" 
)

driver
( 
  name "stage"
  provides [ "7665:position2d:0" "7665:laser:0" "7665:speech:0" "7665:graphics2d:0" "7665:graphics3d:0" "7665:gripper:0" "7665:blobfinder:0" ]
  model "r3" 
)

driver
( 
  name "stage"
  provides [ "7666:position2d:0" "7666:laser:0" "7666:speech:0" "7666:graphics2d:0" "7666:graphics3d:0" "7666:gripper:0" "7666:blobfinder:0" ]
  model "r4" 
)

driver
( 
  name "stage"
  provides [ "7667:position2d:0" "7667:laser:0" "7667:speech:0" "7667:graphics2d:0" "7667:graphics3d:0" "7667:gripper:0" "7667:blobfinder:0" ]
  model "r5" 
)

